h1{

    color: rgb(5, 75, 62);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p {

color: rgb(19, 20, 20);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {background-color: rgb(237, 244, 242);}


