h1{

    color: rgb(82, 6, 45);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p {

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

} 

ul {

    background-color: burlywood;
    
}

body {background-color: rgb(231, 174, 216);}


